:root {
  font-size: 162.5%;
  background: $background;
  color: $color;
}
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.slide, object {
  min-height: 85vh;
}
.slide {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #aaa;
}